/*
*  USER PROFILE
*/
/* Responsive queries */
@media (max-width: 480px) {
    /* Display cells in a single column */
    .userprofile .mycertificates td {
        width: 100%;
        display: block;
    }
}

@media (max-width: 768px) {
    .userprofile .mycertificates .nameandtime {
        width: 100%;
        display: block;
    }
    
    .userprofile .mycertificates td.icon {
        display: inline-flex;
        margin-left: 15px;
    }
}

/* Align the edit profile button with first field */
#page-user-profile .node_category .editprofile {
    margin-top: 0px;
    float: right;
}

/* Display cards in full width */
.userprofile .profile_tree {
    column-count: 1;
}

/* Remove the border from the card */
.userprofile .card {
    border: none;
}

/* Hide the table header */
.userprofile .mycertificates thead {
    display: none;
}

/* Remove the border from the table */
.userprofile .mycertificates th,
.userprofile .mycertificates td {
    border: none;
}

/* Add border to separate rows */
tr:nth-child(n+2) {
    border-top: 1px solid #ced4db;
}

/* Style course image thumbnail */
.userprofile .mycertificates .thumbnail {
    width: 200px;
}

.userprofile .course-thumbnail {
    width: 200px;
    height: 90px;
    background-position: center;
    background-size: cover;
    border-radius: calc(0.5rem - 1px);
}

.userprofile .course-thumbnail img {
    position: relative;
    height: 30px;
    left: 165px;
    top: 55px;
}

/* Style certificate name */
.mycertificates .cert-name {
    font-weight: bold;
}

/* Style action icons */
.table td.icon {
    vertical-align: middle;
    padding: .75rem 0.25rem;
}

/* Make LinkedIn icon larger */
.mycertificates .fa-linkedin-square {
    font-size: 20px;
}


/*
*  DASHBOARD
*/
.pagelayout-mydashboard .page-header-headings {
    display: none;
}


/*
*  LOGIN PAGE
*/
#page-login-index .login-container .form-control-lg {
    font-size: 1rem;
}