/*
*  USER PROFILE
*/
/* Align the edit profile button with first field */
#page-user-profile .node_category .editprofile {
    margin-top: 0px;
    float: right;
}

/* Display cards in full width */
.userprofile .profile_tree {
    column-count: 1;
}

/* Remove the border from the card */
.userprofile .card {
    border: none;
}

/* Hide the table header */
.userprofile .mycertificates thead {
    display: none;
}

/* Remove the border from the table */
.userprofile .mycertificates th,
.userprofile .mycertificates td {
    border: none;
}

/* Style course image thumbnail */
.userprofile .course-thumbnail {
    width: 200px;
    height: 90px;
    background-position: center;
    background-size: cover;
    border-radius: calc(0.5rem - 1px);
}

/* Style certificate name */
.mycertificates .cert-name {
    font-weight: bold;
}

/* Style action icons */
.table td.icon {
    vertical-align: middle;
    padding: .75rem 0.25rem;
}

/* Make LinkedIn icon larger */
.mycertificates .fa-linkedin-square {
    font-size: 20px;
}


/*
*  DASHBOARD
*/
.pagelayout-mydashboard .page-header-headings {
    display: none;
}
